.mapDiv {
  box-sizing: border-box;
  background-color: wheat;
  border-radius: 5%;
  padding: 5%;
  height: 30%;
  margin: 20px;
}

.divContainer {
  height: 90%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
