.formC {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 15rem;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
